{% set fname = "verification_ip/interface_packages/{{name}}_pkg/{{name}}_filelist_hdl.f" %}
$UVMF_VIP_LIBRARY_HOME/interface_packages/{{name}}_pkg/{{name}}_pkg_hdl.sv

$UVMF_VIP_LIBRARY_HOME/interface_packages/{{name}}_pkg/src/{{name}}_if.sv
$UVMF_VIP_LIBRARY_HOME/interface_packages/{{name}}_pkg/src/{{name}}_monitor_bfm.sv
$UVMF_VIP_LIBRARY_HOME/interface_packages/{{name}}_pkg/src/{{name}}_driver_bfm.sv
