{% set fname = "{{vip_location}}/{{interface_location}}/{{name}}_pkg/{{name}}_pkg_sve.F" %}
// UVM
+incdir+${UVM_HOME}/src
${UVM_HOME}/{{src_dir}}uvm_pkg.sv

// Common UVMF files
-f ${UVMF_HOME}/common/common_sve.f

+incdir+.
-f ${UVMF_VIP_LIBRARY_HOME}/{{interface_location}}/{{name}}_pkg/{{name}}_filelist_hdl.f
-f ${UVMF_VIP_LIBRARY_HOME}/{{interface_location}}/{{name}}_pkg/{{name}}_filelist_hvl.f

