{% set fname = "project_benches/{{name}}/sim/Makefile" %}

{% block description %}
#
#----------------------------------------------------------------------
# Project         : {{name}} Simulation Bench 
# Unit            : Bench makefile
# File            : Makefile
#----------------------------------------------------------------------
#                                          
# DESCRIPTION: This makefile includes the shared makefile and contains
#   bench level make targets.
#
{% endblock %}

{% block contents %}

# *********************************************************************************************
# UVMF library directory:
# This variable points to the UVMF release where uvmf_base_pkg directory resides.
# This variable points to release code that is not user modified.
# This variable allows for UVMF release directories to reside independent of project related verification_ip and project_benches directories.
# This code below looks "upward" for directory starting with UVMF_* and returns first match for use with the release examples.
UVMF_HOME ?= $(firstword $(wildcard $(addsuffix /UVMF_*,. .. ../.. ../../.. ../../../.. ../../../../..)))
#
# Project(s) specific verification_ip library:
# Directory where reusable verification packages for interfaces, environments, utilities, etc. reside.
# This variable allows for verification_ip to reside independent of project bench and UVMF release directories.
# For examples deployed with UVMF this will be $(UVMF_HOME)/<example_group>/verification_ip
export UVMF_VIP_LIBRARY_HOME ?= ../../../verification_ip
#
# Project specific bench:
# Directory where bench specific code is located.
# This variable allows for project_benches to reside independent of verification_ip and UVMF release directories.
# For examples deployed with UVMF this will be $(UVMF_HOME)/<example_group>/project_benches/<example_bench>
export UVMF_PROJECT_DIR ?= ../../../project_benches/{{name}}
#
# *********************************************************************************************
# Set test case specific Variables
TEST_NAME            = test_top
TEST_SEED            = random
TEST_VERBOSITY       = UVM_HIGH
UVM_CLI_ARGS         = 

# Usage of Veloce, etc. to be input by the user (subject to defaults)
USE_VELOCE          ?= 0
USE_LEGACY_TBX_FLOW ?= 0

# Usage of Veloce and Questa profilers
USE_VELOCE_PROFILER ?= 0
USE_QUESTA_PROFILER ?= 0

# Set project Variables
TEST_PLAN_NAME       = {{name}}_TestPlan
REPORTING_DO_FILE    = {{name}}_reports_script

# Include makefile that includes targets for UVM_VIP_Library packages
include $(UVMF_HOME)/scripts/Makefile
{% if veloceReady %}
include $(UVMF_HOME)/common/uvm_co_emulation_utilities/clock/Makefile
include $(UVMF_HOME)/common/uvm_co_emulation_utilities/reset/Makefile
include $(UVMF_HOME)/common/uvm_co_emulation_utilities/memload/Makefile
{% endif %}

# Include all requisite interface package targets for this bench
{% for agent in agent_pkgs %}include $(UVMF_VIP_LIBRARY_HOME)/interface_packages/{{agent}}_pkg/Makefile
{% endfor %}

# Include all requisite environment package targets for this bench
include $(UVMF_VIP_LIBRARY_HOME)/environment_packages/{{env_name}}_env_pkg/Makefile

# Add to default compile/load/run arguments
VCOM_ARGS             += 
VLOG_ARGS             +=
VELANALYZE_ARGS       +=
VELANALYZE_HVL_ARGS   +=

BATCH_VOPT_ARGS       +=
DEBUG_VOPT_ARGS       +=

COMMON_VSIM_ARGS      +=
BATCH_VSIM_ARGS       += #-uvmcontrol=none
DEBUG_VSIM_ARGS       += 

# Do commands
                      DEBUG_DO_COMMANDS =     -do " \
                      set NoQuitOnFinish 1; \
                      onbreak {resume}; \
                      run 0; \
                      do wave.do; \
                      set PrefSource(OpenOnBreak) 0; \
                      radix hex showbase;  \
                      "
                      # run -all; \

# Project bench package source
{{name}}_PARAMETERS_PKG =\
$(UVMF_PROJECT_DIR)/tb/parameters/{{name}}_parameters_pkg.sv

{{name}}_SEQUENCES_PKG =\
$(UVMF_PROJECT_DIR)/tb/sequences/{{name}}_sequences_pkg.sv

{{name}}_TEST_PKG =\
$(UVMF_PROJECT_DIR)/tb/tests/{{name}}_test_pkg.sv

{{name}}_DUT =\
$(UVMF_PROJECT_DIR)/rtl/verilog/{{name}}.v

.PHONY: all build common wrappers test run clean 


# Project bench package targets
COMP_{{name}}_PARAMETERS_PKG_TGT_0 = q_comp_{{name}}_parameters_pkg
COMP_{{name}}_PARAMETERS_PKG_TGT_1 = v_comp_{{name}}_parameters_pkg
COMP_{{name}}_PARAMETERS_PKG_TGT = $(COMP_{{name}}_PARAMETERS_PKG_TGT_$(USE_VELOCE))

comp_{{name}}_parameters_pkg: $(COMP_{{name}}_PARAMETERS_PKG_TGT)

q_comp_{{name}}_parameters_pkg:
	        $(HVL_COMP_CMD) +incdir+$(UVMF_PROJECT_DIR)/tb/parameters $({{name}}_PARAMETERS_PKG)

v_comp_{{name}}_parameters_pkg: q_comp_{{name}}_parameters_pkg
	$(HDL_COMP_CMD) +incdir+$(UVMF_PROJECT_DIR)/tb/parameters $({{name}}_PARAMETERS_PKG)

comp_{{name}}_sequence_pkg:
	$(HVL_COMP_CMD) +incdir+$(UVMF_PROJECT_DIR)/tb/sequences $({{name}}_SEQUENCES_PKG)

comp_{{name}}_test_pkg:
	$(HVL_COMP_CMD) +incdir+$(UVMF_PROJECT_DIR)/tb/tests $({{name}}_TEST_PKG)

# UVMF_CHANGE_ME : Add make target to compile your dut here
comp_{{name}}_dut:
	echo "Compile your DUT here"
#	$(HDL_COMP_CMD) $({{name}}_DUT)

build: comp_uvm_pkg comp_fli_pkg comp_uvmf_base_pkg {% if veloceReady %} comp_co_emulation_clock_pkg comp_co_emulation_reset_pkg comp_co_emulation_memload_pkg {% endif %} {% for agent in agent_pkgs %} comp_{{agent}}_pkg {% endfor %} comp_{{env_name}}_env_pkg comp_{{name}}_parameters_pkg comp_{{name}}_sequence_pkg comp_{{name}}_test_pkg comp_{{name}}_dut comp_test_bench

{% endblock %}

