{% set fname = "{{vip_location}}/{{environment_location}}/{{name}}_env_pkg/{{src_dir}}{{name}}_env_typedefs.svh" %}
{% extends "base_template.TMPL" %}

{% block description %}
//----------------------------------------------------------------------
//     
// DESCRIPTION: 
// This file contains defines and typedefs to be compiled for use in
// the environment package.
//
//----------------------------------------------------------------------
{% endblock %}


{% block contents %}

{% for types in typedefs %}
typedef {{types.type}} {{types.name}};
{% endfor %}

  // pragma uvmf custom additional begin
  // pragma uvmf custom additional end

{% endblock %}
~                
