{# Base template used by other templates - defines a standard comment header
   for use in all generated output.  Feel free to modify such that it matches
   your individual requirements. #}
//----------------------------------------------------------------------
//----------------------------------------------------------------------
// Created by      : {{user}}
// Creation Date   : {{date}}
//----------------------------------------------------------------------
{% block description %}{% endblock %}
//----------------------------------------------------------------------
//
{% block contents %}{% endblock %}
