{% set fname = "project_benches/{{name}}/sim/run.do" %}

{% block description %}
{% endblock %}

{% block contents %}
set ::env(UVMF_VIP_LIBRARY_HOME) ../../../verification_ip
set ::env(UVMF_PROJECT_DIR) ../../../project_benches/{{name}}

file delete -force *~ *.ucdb vsim.dbg *.vstf *.log work *.mem *.transcript.txt certe_dump.xml *.wlf covhtmlreport VRMDATA
file delete -force design.bin qwave.db dpiheader.h visualizer*.ses
file delete -force veloce.med veloce.wave veloce.map tbxbindings.h modelsim.ini edsenv velrunopts.ini
file delete -force sv_connect.*
vlib work 
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_HOME)/common/fli_pkg $env(UVMF_HOME)/common/fli_pkg/fli_pkg.sv
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_HOME)/uvmf_base_pkg -F $env(UVMF_HOME)/uvmf_base_pkg/uvmf_base_pkg_filelist_hvl.f
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_HOME)/uvmf_base_pkg -F $env(UVMF_HOME)/uvmf_base_pkg/uvmf_base_pkg_filelist_hdl.f
{% if veloceReady %}
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_HOME)/common/uvm_co_emulation_utilities/clock -F $env(UVMF_HOME)/common/uvm_co_emulation_utilities/clock/clock_filelist_hvl.f
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_HOME)/common/uvm_co_emulation_utilities/clock -F $env(UVMF_HOME)/common/uvm_co_emulation_utilities/clock/clock_filelist_hdl.f
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_HOME)/common/uvm_co_emulation_utilities/reset -F $env(UVMF_HOME)/common/uvm_co_emulation_utilities/reset/reset_filelist_hvl.f
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_HOME)/common/uvm_co_emulation_utilities/reset -F $env(UVMF_HOME)/common/uvm_co_emulation_utilities/reset/reset_filelist_hdl.f
vlog $env(UVMF_HOME)/common/uvm_co_emulation_utilities/memload/memload_pkg.sv $env(UVMF_HOME)/common/uvm_co_emulation_utilities/memload/src/memload.cc -dpiheader dpiheader.h -ccflags "-FPIC -I/include -DQUESTA"
{% endif %}

{% for qvip_env_vars in qvip_pkg_env_variables %}
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(QUESTA_MVC_HOME)/questa_mvc_src/sv/ -f $env({{qvip_env_vars}}_DIR_NAME)/{{qvip_bfm_pkgs[loop.index-1]}}_filelist.f
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env({{qvip_env_vars}}_DIR_NAME) $env({{qvip_env_vars}}_DIR_NAME)/hdl_{{qvip_bfm_pkgs[loop.index-1]}}.sv
{% endfor %}

{% for bfm in bfm_pkgs %}
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_VIP_LIBRARY_HOME)/interface_packages/{{bfm}}_pkg -F $env(UVMF_VIP_LIBRARY_HOME)/interface_packages/{{bfm}}_pkg/{{bfm}}_filelist_hvl.f 
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_VIP_LIBRARY_HOME)/interface_packages/{{bfm}}_pkg -F $env(UVMF_VIP_LIBRARY_HOME)/interface_packages/{{bfm}}_pkg/{{bfm}}_filelist_hdl.f 
{% endfor %}

vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_VIP_LIBRARY_HOME)/environment_packages/{{env_name}}_env_pkg $env(UVMF_VIP_LIBRARY_HOME)/environment_packages/{{env_name}}_env_pkg/{{env_name}}_env_pkg.sv

vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_PROJECT_DIR)/tb/parameters $env(UVMF_PROJECT_DIR)/tb/parameters/{{name}}_parameters_pkg.sv
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_PROJECT_DIR)/tb/sequences $env(UVMF_PROJECT_DIR)/tb/sequences/{{name}}_sequences_pkg.sv
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_PROJECT_DIR)/tb/tests $env(UVMF_PROJECT_DIR)/tb/tests/{{name}}_test_pkg.sv
echo "Compile your DUT here"
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_PROJECT_DIR)/tb/testbench -F $env(UVMF_PROJECT_DIR)/tb/testbench/top_filelist_hvl.f
vlog -sv -suppress 2223 -suppress 2286 +incdir+$env(UVMF_PROJECT_DIR)/tb/testbench -F $env(UVMF_PROJECT_DIR)/tb/testbench/top_filelist_hdl.f
vopt -32          hvl_top hdl_top   -o optimized_batch_top_tb
vopt -32  +acc    hvl_top hdl_top   -o optimized_debug_top_tb
vsim -i  -32  -sv_seed random +UVM_TESTNAME=test_top +UVM_VERBOSITY=UVM_HIGH  -permit_unmatched_virtual_intf +notimingchecks -suppress 8887   -i -uvmcontrol=all -msgmode both -classdebug -assertdebug +uvm_set_config_int=*,enable_transaction_viewing,1  -do " set NoQuitOnFinish 1; onbreak {resume}; run 0; do wave.do; set PrefSource(OpenOnBreak) 0; radix hex showbase; " optimized_debug_top_tb
{% endblock %}

