{% set fname = "project_benches/{{name}}/sim/veloce.config" %}

{% block description %}

{% endblock %}

{% block contents %}

{% if veloceReady %}

comp -num_boards 1
comp -hvl questa
comp -platform D1S
rtlc -allow_4ST
rtlc -allow_MDR

{% else %}

This file intentionally left blank. 
It is needed for UVMF testbench acceleration using the Veloce emulator, and so it 
may be deleted as long as you are just using only pure simulation with Questa alone.

{% endif %}

{% endblock %}

