{% set fname = "{{bench_location}}/{{name}}/tb/tests/{{src_dir}}read_from_file_test_mtlb.svh" %}
{% set conditional = "mtlbReady" %}
{% extends "base_template.TMPL" %}

{% block description %}
//
// Generated for MTLB flow
//
//----------------------------------------------------------------------
//                                          
// DESCRIPTION: This test extends test_top and makes 
//    changes to test_top using the UVM factory type_override:
//
//    Test scenario: Use file input for stimulus generation
//
//----------------------------------------------------------------------
{% endblock %}

{% block contents %}

class read_from_file_test extends test_top;

  `uvm_component_utils( read_from_file_test );

  function new( string name = "", uvm_component parent = null );
    super.new( name, parent );
  endfunction

  virtual function void build_phase(uvm_phase phase);
    {{name}}_bench_sequence_base::type_id::set_type_override(read_from_file_sequence::get_type());
    // Execute the build_phase of test_top AFTER all factory overrides have been created.
    super.build_phase(phase);
  endfunction

endclass

// pragma uvmf custom external begin
// pragma uvmf custom external end

{% endblock %}
