{% set fname = "{{bench_location}}/{{name}}/sim/uvmf_vrm_ini.tcl" %}
{% set conditional = "infact_enabled" %}

{% block description %}
## VRM initialization proc content to enable regressions with inFact. 
## See documentation for full list of available variables, behavior 
## and legal values.
{% endblock %}

{% block contents %}

proc vrmSetup {} {
  setIniVar use_infact 1
}

## pragma uvmf custom additional begin
## pragma uvmf custom additional end

{% endblock %}

