{% set fname = "{{bench_location}}/{{name}}/sim/Makefile_mtlb" %}
{% set conditional = "mtlbReady" %}

{% block description %}
#
# Generated for MTLB flow
#
#----------------------------------------------------------------------
#                                          
# DESCRIPTION: This makefile includes the shared makefile and contains
#   bench level make targets.
#
#----------------------------------------------------------------------
{% endblock %}

{% block contents %}

# pragma uvmf custom additional begin
# pragma uvmf custom additional end

# *********************************************************************************************
# UVMF library directory:
# This variable points to the UVMF release where uvmf_base_pkg directory resides.
# This variable points to release code that is not user modified.
# This variable allows for UVMF release directories to reside independent of project related verification IP and {{bench_location}} directories.
# This code below looks "upward" for directory starting with UVMF_* and returns first match for use with the release examples.
UVMF_HOME ?= ___PLEASE_SET_AN_ENVIRONMENT_VARIABLE_NAMED_UVMF_HOME_TO_POINT_TO_THE_UVMF_INSTALLATION___

# pragma uvmf custom exports begin
#
# Project(s) specific verification IP library:
# Directory where reusable verification packages for interfaces, environments, utilities, etc. reside.
# This variable allows for verification IP to reside independent of project bench and UVMF release directories.
# For examples deployed with UVMF this will be $(UVMF_HOME)/<example_group>/{{vip_location}}
export UVMF_VIP_LIBRARY_HOME ?= $(PWD)/{{relative_vip_from_sim}}
{% if vipLibEnvVariableNames|length > 0 %}
# Include environment variables for all listed vip libraries
{% for bfm in vipLibEnvVariableNames %}export {{bfm}} ?= $(UVMF_VIP_LIBRARY_HOME)
{% endfor %}
{% endif %}
#
# Project specific bench:
# Directory where bench specific code is located.
# This variable allows for {{bench_location}} to reside independent of verification IP and UVMF release directories.
# For examples deployed with UVMF this will be $(UVMF_HOME)/<example_group>/{{bench_location}}/<example_bench>
export UVMF_PROJECT_DIR ?= $(PWD)/..
#
{% if qvip_pkg_env_variables|length > 0 %}
# *********************************************************************************************
# QVIP specific code generated by QVIP Configurator:
# These variables identify where code generated by the QVIP configurator is located.
# The default values for these variables are to indicate to the user that the value needs to be set.
# This variable should point down to and including the uvmf directory in the QVIP confiurator generated code.
{% endif %}
{% for qvip_env_vars in qvip_pkg_env_variables %}
export {{qvip_env_vars}}_DIR_NAME ?= the_environment_variable_named_{{qvip_env_vars}}_DIR_NAME_needs_to_point_to_the_QVIP_configurator_generated_code_for_this_sub_environment
{% endfor %}
#
# pragma uvmf custom exports end
# *********************************************************************************************

## Check PATH for required vinfo scripts
PVAL := $(shell command -v make_filelist.py 2> /dev/null)
ifndef PVAL
  MFLIST = $(UVMF_HOME)/scripts/make_filelist.py
else
  MFLIST = make_filelist.py
endif

# Set test case specific Variables
{% if inFactEnabled %}
TEST_NAME_DEFAULT_0 = test_top
TEST_NAME_DEFAULT_1 = infact_test_base
TEST_NAME_DEFAULT   = $(TEST_NAME_DEFAULT_$(USE_INFACT))
TEST_NAME            ?= $(TEST_NAME_DEFAULT)
{% else %}
TEST_NAME            ?= test_top
{% endif %}

TEST_SEED            ?= random
UVM_CLI_ARGS         = 

# Usage of Veloce, etc. to be input by the user (subject to defaults)
USE_VELOCE          ?= 0

# Usage of vinfo flow for generating file list
USE_VINFO           ?= 0

# Usage of Veloce and Questa profilers
USE_VELOCE_PROFILER ?= 0
USE_QUESTA_PROFILER ?= 0

{% if inFactEnabled %}
# Usage of inFact
USE_INFACT ?= 0
{% endif %}

# Set project Variables
TEST_PLAN_NAME       = {{name}}_TestPlan
REPORTING_DO_FILE    = {{name}}_reports_script

{% if inFactEnabled %}
# Tell VRM that inFact is enabled for this bench
VRUN_ARGS += -GINFACT_ENABLED=1
{% endif %}

# Include makefile that includes targets for UVM_VIP_Library packages
include $(UVMF_HOME)/scripts/Makefile

{% if qvip_pkg_env_variables|length > 0 %}
include $(UVMF_HOME)/common/utility_packages/qvip_utils_pkg/Makefile
{% endif %}


{% if useCoEmuClkRstGen %}
include $(UVMF_HOME)/common/uvm_co_emulation_utilities/Makefile
{% endif %}

# Include all requisite interface package targets for this bench
{% for bfm in bfm_pkg_env_variables %}include $({{bfm.vipLibEnvVariable}})/{{interface_location}}/{{bfm.ifPkg}}_pkg/Makefile
{% endfor %}

# Include all requisite environment package targets for this bench
include $(UVMF_VIP_LIBRARY_HOME)/{{environment_location}}/{{env_name}}_env_pkg/Makefile

{% if inFactEnabled %}

INFACT_VLOG_ARGS_0 =
INFACT_VLOG_ARGS_1 += +incdir+./infact_genfiles +define+INFACT_ENABLE_COMPILE
INFACT_VLOG_ARGS = $(INFACT_VLOG_ARGS_$(USE_INFACT))

# When running inFact, bring in the inFact sequences package
INFACT_VOPT_ARGS_0 = 
INFACT_VOPT_ARGS_1 += {{name}}_infact_sequences_pkg
INFACT_VOPT_ARGS = $(INFACT_VOPT_ARGS_$(USE_INFACT))

VLOG_ARGS += $(INFACT_VLOG_ARGS)
{% endif %}

{% if useDpiLink %}
GPP                  = $(QUESTA_HOME)/gcc-4.5.0-linux_x86_64/bin/g++
export MTI_VCO_MODE = 64

# Include dpi link Makefile
include $(UVMF_HOME)/common/dpi_link_pkg/Makefile

COMMON_VSIM_ARGS      +=   -sv_lib sv_lib
{% endif %}

# Add to default compile/load/run arguments
VCOM_ARGS             += 

# Note: vsim-3009 error can be eliminated by adding -timescale 1ps/1ps to VLOG_ARGS
VLOG_ARGS             +=  -timescale 1ps/1ps 

VLOG_ARGS             += $(UVM_DISABLE_FILE_LINE_CMD)

VELANALYZE_ARGS       +=
VELANALYZE_HVL_ARGS   +=

BATCH_VOPT_ARGS       +=
DEBUG_VOPT_ARGS       +=
EXTRA_VOPT_TOPS       += {% if additionalTops|length > 0 %} {% for top in additionalTops %}{{top}} {% endfor %}{% endif %}

COMMON_VSIM_ARGS      += {% if qvip_bfm_pkgs|length > 0 %} -mvchome $(QUESTA_MVC_HOME) {% endif %} 
COMMON_VSIM_ARGS      += {% if svLibNames|length > 0 %} {% for svLibName in svLibNames %} -sv_lib {{svLibName}} {% endfor %} {% endif %} 
COMMON_VSIM_ARGS      += +notimingchecks +nospecify

{% if inFactEnabled %}
COMMON_VSIM_ARGS      += $(INFACT_VSIM_ARGS)
BATCH_VOPT_ARGS       += $(INFACT_VOPT_ARGS)
DEBUG_VOPT_ARGS       += $(INFACT_VOPT_ARGS)
{% endif %}

BATCH_VSIM_ARGS       += #-uvmcontrol=none
DEBUG_VSIM_ARGS       += 
EXTRA_VSIM_TOPS       += 

{% if vmaps|length > 0 %}
create_{{name}}_vmaps: 
{% for vmap in vmaps %}
	vmap {{vmap.name}} {{vmap.dirName}}
{% endfor %}
{% endif %}

# Project bench package source
{{name}}_PARAMETERS_PKG =\
$(UVMF_PROJECT_DIR)/tb/parameters/{{name}}_parameters_pkg.sv


{{name}}_SEQUENCES_PKG =\
$(UVMF_PROJECT_DIR)/tb/sequences/{{name}}_sequences_pkg.sv

{% if inFactEnabled %}
{{name}}_INFACT_SEQUENCES_PKG =\
$(UVMF_PROJECT_DIR)/tb/sequences/{{name}}_infact_sequences_pkg.sv
{% endif %}

{{name}}_TEST_PKG =\
$(UVMF_PROJECT_DIR)/tb/tests/{{name}}_tests_pkg.sv

# pragma uvmf custom dut_files begin

# UVMF_CHANGE_ME : Optional variables for compilation
#include $(DUT_MAKEFILE)

# UVMF_CHANGE_ME : Reference Verilog DUT source.
export {{name}}_VERILOG_DUT_SRC ?= $(UVMF_PROJECT_DIR)/rtl/verilog/verilog_dut.v
{{name}}_VERILOG_DUT = $({{name}}_VERILOG_DUT_SRC)

# UVMF_CHANGE_ME : Reference VHDL DUT source.
export {{name}}_VHDL_DUT_SRC ?= $(UVMF_PROJECT_DIR)/rtl/vhdl/vhdl_dut.vhd
{{name}}_VHDL_DUT = $({{name}}_VHDL_DUT_SRC)

# pragma uvmf custom dut_files end


# Project bench package targets
COMP_{{name}}_PARAMETERS_PKG_TGT_0 = q_comp_{{name}}_parameters_pkg
COMP_{{name}}_PARAMETERS_PKG_TGT_1 = v_comp_{{name}}_parameters_pkg
COMP_{{name}}_PARAMETERS_PKG_TGT = $(COMP_{{name}}_PARAMETERS_PKG_TGT_$(USE_VELOCE))

comp_{{name}}_parameters_pkg: $(COMP_{{name}}_PARAMETERS_PKG_TGT)

q_comp_{{name}}_parameters_pkg:
	        $(HVL_COMP_CMD) +incdir+$(UVMF_PROJECT_DIR)/tb/parameters $({{name}}_PARAMETERS_PKG)

v_comp_{{name}}_parameters_pkg: q_comp_{{name}}_parameters_pkg
	$(HDL_COMP_CMD) +incdir+$(UVMF_PROJECT_DIR)/tb/parameters $({{name}}_PARAMETERS_PKG)
 

comp_{{name}}_sequence_pkg:
	$(HVL_COMP_CMD) +incdir+$(UVMF_PROJECT_DIR)/tb/sequences $({{name}}_SEQUENCES_PKG)

comp_{{name}}_tests_pkg:
	$(HVL_COMP_CMD) +incdir+$(UVMF_PROJECT_DIR)/tb/tests $({{name}}_TEST_PKG)

# pragma uvmf custom dut_compile_make_target begin
# UVMF_CHANGE_ME : Add make target to compile your verilog dut here
comp_{{name}}_verilog_dut: 
	echo "Compile your verilog DUT here"
	$(HDL_COMP_CMD) $({{name}}_VERILOG_DUT) -l vlog.log

# UVMF_CHANGE_ME : Add make target to compile your vhdl dut here
comp_{{name}}_vhdl_dut: 
	echo "Compile your vhdl DUT here"
	$(HDL_COMP_CMD_VHDL) $({{name}}_VHDL_DUT) -l vcom.log

# UVMF_CHANGE_ME : Add make target to compile your dut here
comp_{{name}}_dut: comp_{{name}}_vhdl_dut comp_{{name}}_verilog_dut
# pragma uvmf custom dut_compile_make_target end

{% if qvip_bfm_pkgs|length > 0 %}
comp_qvip: 
{% endif %}
{% for qvip_env_vars in qvip_pkg_env_variables %}
	$(HVL_COMP_CMD) +incdir+$(QUESTA_MVC_HOME)/questa_mvc_{{src_dir}}sv/ -f $({{qvip_env_vars}}_DIR_NAME)/{{qvip_bfm_pkgs[loop.index-1]}}_filelist.f
	$(HVL_COMP_CMD) +incdir+$({{qvip_env_vars}}_DIR_NAME) $({{qvip_env_vars}}_DIR_NAME)/hdl_{{qvip_bfm_pkgs[loop.index-1]}}.sv
{% endfor %}

BUILD_TGT_0 = make_build
BUILD_TGT_1 = vinfo_build
BUILD_TGT = $(BUILD_TGT_$(USE_VINFO))


{% if inFactEnabled %}
ifeq (1,$(USE_INFACT))

COMP_DEPS = \
{% for bfm in bfm_pkgs %}
{% if bfm.activity == 'ACTIVE' %}
  $(COMP_{{bfm}}_PKG_DEPS) \
{% endif %}
{% endfor %} 

# Default coverage strategy files for interface packages
{% for bfm in bfms %}
{% if bfm.activity == 'ACTIVE' %}
{{bfm.name}}_INFACT_COVERAGE_STRATEGY ?= $(UVMF_VIP_LIBRARY_HOME)/{{interface_location}}/{{bfm.ifPkg}}_pkg/{{src_dir}}{{bfm.ifPkg}}_infact_coverage_strategy.csv
INFACT_COVERAGE_STRATEGIES += $({{bfm.name}}_INFACT_COVERAGE_STRATEGY)
{% endif %}
{% endfor %}

# QSO options for each interface package
{% for bfm in bfms %}
{% if bfm.activity == 'ACTIVE' %}
{{bfm.name}}_INFACT_QSO_OPTIONS ?= 
{% endif %}
{% endfor %}

comp_hvl : comp_hvl_core run_qso comp_{{name}}_infact_sequences_pkg

run_qso : qso_{{name}}.d

qso_{{name}}.d : $(COMP_DEPS) $(INFACT_COVERAGE_STRATEGIES)
	mkdir -p infact_genfiles
{% for bfm in bfms %}
{% if bfm.activity == 'ACTIVE' and bfm.inFactReady == 'True' %}
	$(INFACT_HOME)/bin/qso {{name}}_sequences_pkg::{{bfm.name}}_{{bfm.ifPkg}}_transaction \
      $({{bfm.name}}_INFACT_QSO_OPTIONS) \
      -coverage_strategy $({{bfm.name}}_INFACT_COVERAGE_STRATEGY) \
      -o infact_genfiles/infact_{{bfm.name}}_{{bfm.ifPkg}}_transaction_gen.svh
{% endif %}
{% endfor %}
	@touch $@

# Compile the inFact sequences package
comp_{{name}}_infact_sequences_pkg :
	$(HVL_COMP_CMD) +incdir+$(UVMF_PROJECT_DIR)/tb/sequences $({{name}}_INFACT_SEQUENCES_PKG)

else # USE_INFACT=0

comp_hvl : comp_hvl_core

endif

{% else %}
comp_hvl : comp_hvl_core
{% endif %}

{% if useDpiLink %}
dpiheader.h:
	$(HDL_COMP_CMD) {% for bfm in bfm_pkgs %}$({{bfm}}_PKG_HDL) $({{bfm}}_PKG) {% endfor %} -dpiheader dpiheader.h -suppress 2275

sv_lib.so:	{% for bfm in bfm_pkgs %}{{bfm}}_tc.o {% endfor %} uvmf_tc.o dpi_link.o dpiheader.h
	${GPP}  uvmf_tc.o {% for bfm in bfm_pkgs %}{{bfm}}_tc.o {% endfor %} dpi_link.o -shared -o sv_lib.so 
{% endif %}

comp_hvl_core : {% if qvip_bfm_pkgs|length > 0 %} comp_qvip comp_qvip_utils_pkg {% endif %} {% if useCoEmuClkRstGen %} comp_co_emulation_clock_pkg comp_co_emulation_reset_pkg comp_co_emulation_memload_pkg {% endif %} \
	{% for bfm in bfm_pkgs %} comp_{{bfm}}_pkg {% endfor %} \
	comp_{{env_name}}_env_pkg \
	comp_{{name}}_parameters_pkg comp_{{name}}_sequence_pkg comp_{{name}}_tests_pkg 

comp_uvmf_core : comp_uvm_pkg comp_uvmf_base_pkg {% if useDpiLink %} comp_dpi_link_pkg {% endif %}


make_build: comp_{{name}}_dut comp_uvmf_core comp_hvl comp_test_bench {% if useDpiLink %} dpi_link.o sv_lib.so {% endif %} {% if vmaps|length > 0 %} create_{{name}}_vmaps {% endif %}


hvl_build: {% for bfm in bfm_pkgs %} q_comp_{{bfm}}_pkg {% endfor %} comp_{{env_name}}_env_pkg comp_{{name}}_sequence_pkg comp_{{name}}_tests_pkg hvl_comp_testbench link optimize


vinfo_build:{% if qvip_bfm_pkgs|length > 0 %} comp_qvip {% endif %} comp_{{name}}_vhdl_dut {% for vinfoDependency in vinfoDependencies %} {{vinfoDependency}} {% endfor %} build_hdl_vinfo build_hvl_vinfo $(VINFO_TGT)

	$(HDL_COMP_CMD) -F hdl.vf
	$(VEL_COMP)

build: $(BUILD_TGT)

{% if inFactEnabled %}
clean::
	@-rm -rvf infact_genfiles *.d
	@-rm -rvf inFact.err auxstat.txt
{% endif %}

{% endblock %}


