{% set fname = "project_benches/{{name}}/rtl/verilog/README.txt" %}
{% extends "base_template.TMPL" %}

{% block description %}
//
//----------------------------------------------------------------------
// Project         : {{name}} Simulation Bench 
// Unit            : DUT Verilog Source
//----------------------------------------------------------------------
//                                          
// DESCRIPTION: This folder can be used to hold verilog source for the DUT.
{% endblock %}

{% block contents %}

{% endblock %}

