{% set fname = "project_benches/{{name}}/registers/README.txt" %}
{% extends "base_template.TMPL" %}

{% block description %}
//
//----------------------------------------------------------------------
// Project         : {{name}} Simulation Bench 
// Unit            : Register package folder
//----------------------------------------------------------------------
//                                          
// DESCRIPTION: This folder can be used for bench level register package
//
{% endblock %}

{% block contents %}

{% endblock %}

