{% set fname = "verification_ip/environment_packages/{{name}}_env_pkg/{{name}}_env_pkg.sv" %}
{% extends "base_template.TMPL" %}

{% block description %}
//
//----------------------------------------------------------------------
// Project         : {{name}} environment agent
// Unit            : Environment HVL package
// File            : {{name}}_pkg.sv
//----------------------------------------------------------------------
//     
// PACKAGE: This file defines all of the files contained in the
//    environment package that will run on the host simulator.
//
// CONTAINS:
//     - <{{name}}_configuration.svh"
//     - <{{name}}_environment.svh"
//     - <{{name}}_env_sequence_base.svh"
//
// ****************************************************************************
// ****************************************************************************
{% endblock %}

{% block contents %}
package {{name}}_env_pkg;

   import uvm_pkg::*;
   import questa_uvm_pkg::*;
   `include "uvm_macros.svh"

   import uvmf_base_pkg::*;
{% for agent in agent_pkgs %}
   import {{agent}}_pkg::*;
{% endfor %}

   `include "src/{{name}}_configuration.svh"
   `include "src/{{name}}_environment.svh"
   `include "src/{{name}}_sequence_base.svh"
  
endpackage

{% endblock %}
