{% set fname = "verification_ip/interface_packages/{{name}}_pkg/{{name}}_pkg.sv" %}
{% extends "base_template.TMPL" %}

{% block description %}
//
//----------------------------------------------------------------------
// Project         : {{name}} interface agent
// Unit            : Interface HVL package
// File            : {{name}}_pkg.sv
//----------------------------------------------------------------------
//     
// PACKAGE: This file defines all of the files contained in the
//    interface package that will run on the host simulator.
//
// CONTAINS:
//    - <{{name}}_typedefs_hdl>
//    - <{{name}}_typedefs.svh>
//    - <{{name}}_transaction.svh>

//    - <{{name}}_configuration.svh>
//    - <{{name}}_driver.svh>
//    - <{{name}}_monitor.svh>

//    - <{{name}}_transaction_coverage.svh>
//    - <{{name}}_sequence_base.svh>
//    - <{{name}}_reset_sequence.svh>
//    - <{{name}}_random_sequence.svh>
//    - <reg2{{name}}_adapter.svh>
//
// ****************************************************************************
// ****************************************************************************
{% endblock %}

{% block contents %}
package {{name}}_pkg;
  
   import uvm_pkg::*;
   import questa_uvm_pkg::*;
   import uvmf_base_pkg_hdl::*;
   import uvmf_base_pkg::*;
   import {{name}}_pkg_hdl::*;
   `include "uvm_macros.svh"
   
   export {{name}}_pkg_hdl::*;

   `include "src/{{name}}_typedefs.svh"
   `include "src/{{name}}_transaction.svh"

   `include "src/{{name}}_configuration.svh"
   `include "src/{{name}}_driver.svh"
   `include "src/{{name}}_monitor.svh"

   `include "src/{{name}}_transaction_coverage.svh"
   `include "src/{{name}}_sequence_base.svh"
   `include "src/{{name}}_reset_sequence.svh"
   `include "src/{{name}}_random_sequence.svh"
   `include "src/reg2{{name}}_adapter.svh"

   typedef uvm_reg_predictor #({{name}}_transaction) {{name}}2reg_predictor;
   typedef uvmf_parameterized_agent #({{name}}_configuration, {{name}}_driver, {{name}}_monitor, {{name}}_transaction_coverage, {{name}}_transaction) {{name}}_agent_t;


endpackage

{% endblock %}
