{% set fname = "verification_ip/interface_packages/{{name}}_pkg/{{name}}_filelist_hvl.f" %}
$UVMF_VIP_LIBRARY_HOME/interface_packages/{{name}}_pkg/{{name}}_pkg_hdl.sv
$UVMF_VIP_LIBRARY_HOME/interface_packages/{{name}}_pkg/{{name}}_pkg.sv
