{% set fname = "project_benches/{{name}}/docs/README.txt" %}
{% extends "base_template.TMPL" %}

{% block description %}
//
//----------------------------------------------------------------------
// Project         : {{name}} Simulation Bench 
// Unit            : Documentation folder
//----------------------------------------------------------------------
//                                          
// DESCRIPTION: This folder can be used for bench level documentation
//
{% endblock %}

{% block contents %}


{% endblock %}

