{% set fname = "project_benches/{{name}}/sim/testlist.tcl" %}

{% block description %}

{% endblock %}

{% block contents %}

# Test list for use by RMDB file
# File syntax is
# <testname> <repeat_count> <1st_seed> ... <nth seed>
# If not enough seeds are provided then random seeds are used to pad
# If no repeat count is given, default is 1
test_top 3
example_derived_test 5 

{% endblock %}

